<%
	def active_if page
		@page_id==page ? ' class="active"' : ""
	end
%><!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<!-- basic info -->
	<title>Nicolas McCurdy - <%= @page_title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link rel="stylesheet" href="/css/bootstrap-cyborg.min.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<!-- icons -->
	<link rel="icon" href="/img/favicon.png">
	<link rel="apple-touch-icon" href="/mobile_icon.png">
</head>

<body>

<!-- main column -->
<div class="container-fluid" id="main-column">

	<!-- navbar -->
	<nav class="navbar navbar-inverse"><div class="navbar-inner"><div class="container-fluid">
		<a class="brand" href="/">Nicolas McCurdy</a>
		<ul class="nav">
			<li<%= active_if 'index' %>><a href="/">
				<i class="icon-home icon-white"></i> Home
			</a></li>
			<li<%= active_if 'skills' %>><a href="/skills">
				<i class="icon-folder-open icon-white"></i> Skills
			</a></li>
			<li<%= active_if 'projects' %>><a href="/projects">
				<i class="icon-th icon-white"></i> Projects
			</a></li>
		</ul>
	</div></div></nav>

	<!-- page content -->
	<div id="content">

<%= yield %>

	</div>

	<!-- footer -->
	<footer>&copy; 2012 Nicolas McCurdy</footer>

</div>

<!-- scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<!-- google analytics -->
<!--<script>var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-22970573-1"]);_gaq.push(["_trackPageview"]);(function(){var ga=document.createElement("script");ga.type="text/javascript";ga.async=true;ga.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga,s)})();</script>-->
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</body>
</html>
